{%extends 'base.html' %} {%block content%}
{% load static %}
<!--<style>-->
<!--    body {-->
<!--  background: #52b8a0; /* fallback for old browsers */-->
<!--  background: -webkit-linear-gradient(right, #52b8a0, #8DC26F);-->
<!--  background: -moz-linear-gradient(right, #52b8a0, #8DC26F);-->
<!--  background: -o-linear-gradient(right, #52b8a0, #8DC26F);-->
<!--  background: linear-gradient(to left, #52b8a0, #8DC26F);-->
<!--  font-family: "Roboto", sans-serif;-->
<!--  -webkit-font-smoothing: antialiased;-->
<!--  -moz-osx-font-smoothing: grayscale;-->
<!--}-->
<!--</style>-->

<button style="margin-left:1500px;" type="submit"><a href="{% url 'signout' %}"><span>signout</span></a></button>
<!--<h1 style="text-align:center;">Profile Page </h1>-->
<div class="login-page">
        <h1 style="text-align:center; ">Profile Page</h1>

        <div class="form">
            <form action= "delete" method="POST" class="post-form" enctype="multipart/form-data">

                {% csrf_token %}
                <h3 style="color:black;">Delete User</h3>
                <select class="post-form"  name="userID" >
                          {% for user in results %}
                          <option value="{{ user.id }}">{{user.id}}</option>
                          {% endfor%}
                </select>
                <p></p>
                <button type="submit" formaction="delete" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete </button>

            </form>
            </div>
        </div>




{% endblock%}