{%extends 'base.html' %} {%block content%}
{% load static %}

<button class="btn btn-info" style="margin-left:1500px;" type="submit"><a href="{% url 'signout' %}"><span>signout</span></a></button>
<div class="login-page">
        <h1 style="text-align:center; ">Profile Page</h1>

        <div class="form">
            <form action= "delete" method="POST" class="post-form" enctype="multipart/form-data">

                {% csrf_token %}
                <h3 style="color:black;">Delete User</h3>
                <select class="post-form"  name="userID" >
                          {% for user in results %}
                          <option value="{{ user.id }}">{{user.id}}</option>
                          {% endfor%}
                </select>
                <p></p>
                <button type="submit" formaction="delete" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete </button>

            </form>
            </div>
        </div>




{% endblock%}